<section id="login">
	<div>
		<h1>
			RESET PASSWORD
		</h1>
<?php
if (!empty($this->prompter['fail']))
	echo '<h2>ERROR <br><br>' . $this->prompter['fail'] . '</h2>';
?>
		<div class="cadre">
			<form action="<?php echo SITE_ROOT; ?>login/update_password" method="POST">
				<input type="text" name="token" value="<?php echo $this->data['token']?>" required style="display:none;">
				<input type="text" name="email" value="<?php echo $this->data['email']?>" required style="display:none;">
				<input type="password" name="password" placeholder="New Password" autocomplete="new-password">
				<input type="password" name="passwordbis" placeholder="Re-Type New Password" autocomplete="new-password">
			<button type="submit">
				Reset password
			</button>
		</form>
		</div>
	</div>
</section>
