/*--------------- USER ---------------*/

section#user
{
}

section#user h1
{
	display : block;
	text-align: center;
	margin-bottom: 20px;
}

section#user form
{
	width: 500px;
}

section#user label
{
	box-shadow: inset -1px -1px 0px rgba(60, 60, 60, 1), inset 1px 1px 2px rgba(0, 0, 0, 0.4);
	display: block;
	padding: 10px;
	height: 16px;
	overflow : hidden;
	cursor: pointer;
	transition: height 0.5s, background-color 0.5s;
	border-radius: 5px;
	background-color: #292929;
	margin-bottom: 5px
}

section#user label:hover
{
	background-color: #333;
}

section#user input[type="radio"]
{
	display:none;
}

section#user label p.field_name
{
	float: left;
	width: 20%;
	font-weight: bold;
}

section#user label p.field_value
{
	float: left;
	width: 200px;
	transition: opacity 0.3s;
}

section#user label p.field_value span+span:before
{
	content:" & ";
}

section#user label p.modify
{
	float: right;
}

section#user label:hover p.modify
{
	color: red;
	transition: opacity 1s;
}

section#user label div.hidden
{
	clear: both;
	float: left;
	opacity : 0;
	transition: opacity 0.5s;
	margin-top: 15px;
}

section#user input[type="radio"]:checked + label
{
	height: 65px;
	background-color: #303030;
	transition: height 0.5s, background-color 0.5s;
	cursor: default;
}

section#user input[type="radio"]:checked + label p.modify,
section#user input[type="radio"]:checked + label p.field_value
{
	opacity: 0;
	transition: opacity 0.5s;
}

section#user input[type="radio"]:checked + label div.hidden
{
	opacity : 1;
	transition: opacity 1s;
}

section#user label.notif_check
{
	float: left;
	margin-right: 10px;
}

section#user input[type="checkbox"] {
	display: none;
}

section#user input[type="checkbox"] + label.notif_check
{
	box-shadow: none;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	background-color: rgba(200, 50, 50, 0.3);

	margin-right: 10px;
}

section#user input[type="checkbox"]:checked + label.notif_check
{
	background-color: rgba(50, 200, 50, 0.6);
}

