@font-face {
	font-family: 'din1451';
	src: url('font/din1451stdengschrift.ttf');
}

@font-face {
	font-family: 'geo';
	src: url('font/GeosansLight.ttf');
}

@font-face {
	font-family: 'geo-oblique';
	src: url('font/GeosansLight-Oblique.ttf');
}

body {
	font-family: geo;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	color: #000000;
	background-color: #262626;
}

a {
	text-decoration: none;
	font-style: none;
	color: #555;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

a:hover
{
	color: #e6e6e6;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
}

h1 {
	font-size : 30px;
	font-family: din1451;
}

h2 {
	font-size : 20px;
	font-family: din1451;
}

section h1,
section h2,
section h3
{
	display : block;
	text-align: center;
	margin-bottom: 15px;
	color: #111;
	text-shadow: 1px 1px 0px #333;
}

section h2
{
	color: #f33;
	text-shadow: 0px 0px 2px #f00, 0px 0px 10px rgba(255, 0, 0, 1);
	font-family: geo;
	max-width : 400px;
}

section
{
	margin: auto;
}

hr
{
	margin: 25px 0px 25px 0px;

	border:none;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.9);
}

section#wrap
{
	position: absolute;
	top: 42px;
	bottom: 42px;
	width: 100%;
	display: flex;
	overflow: hidden auto;
}

p
{
	color: #bbbbbb;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

@keyframes slideInFromLeft {
	0% {
		top: 0%;
	}
	10% {
		top: 100px;
	}
	50% {
		top: 100px;
	}
	90% {
		top: 100px;
	}
	100% {
		top: 0%;
	}
}

section#prompter div
{
	position: absolute;
	left: 50%;
	top: -20px;
	transform: translate(-50%, -50%); 
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
	font-size: 20px;
	font-weight: bolder;
	animation: 5s ease-out 0s 1 slideInFromLeft;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7),
	inset 15px 15px 15px rgba(0, 0, 0, 0.5);
	border-width: 3px;
	border-style: solid;
}

section#prompter div.success
{
	background-color: rgba(0, 128, 0, 1);
	border-color: rgba(0, 255, 0, 1);
	color: rgba(0, 255, 0, 1);
}

section#prompter div.fail
{
	background-color: rgba(128, 0, 0, 1);
	border-color: rgba(255, 0, 0, 1);
	color: rgba(255, 0, 0, 1);
}


/*------------------------------------*/

.cadre
{
	margin-left: auto;
	margin-right: auto;
}

.error
{
	border: 2px solid red;
	box-shadow: inset 0px 0px 150px rgba(255, 0, 0, 0.3);
}

.center
{
	position: sticky;
	top: 100px;
}

/*-------------- HEADER --------------*/

header {
	position: fixed;
	display: flex;
	top: 0px;
	width: 100%;
	height: 42px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.8);
	z-index: 1000;
	background-color : rgba(0, 0, 0, 0.8);
}

header .header_element
{
	background-color : #e6e6e6;
	margin-right: 1px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	float: left;
	box-sizing: border-box;
	height: 100%;
}

header .username
{
	padding-top:9px;
	padding-left:8px;
	font-family: din1451;
	text-shadow: 1px 1px 0px #fff;
	color: black;
	font-size:27px;
}

nav
{
}

nav h1#title {
	font-size : 36px;
	margin: 7px 15px 0px 15px;
	text-shadow: 1px 1px 0px #fff;
	color: black;
}

nav a:hover h1#title
{
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

p
{
	display: table-cell;
	vertical-align:middle;
}

nav a button.header_button
{
	width: 48px;
}

nav a button.header_button:hover
{
	background-color: #ffffff;
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

nav a:hover h1#title
{
	text-shadow: none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

div.padder
{
	flex: auto;
}

/*-------------- TO LOG --------------*/

nav#headlog,
nav#headlog
{
	float: right;
}

nav#to_log button
{
	display: block;
	float: left;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	border: 1px solid grey;
	margin: 8px 8px 8px 0px;
}

/*----------- USER LOGGUED -----------*/

nav#headlog a p
{
	float: left;
	margin: auto 15px auto 0px;
}

/*------------------*/

footer
{
	display: flex;
	color: white;
	position: fixed;
	bottom : 0px;
	width : 100%;
	height : 42px;
	background-color: rgba(50, 50, 50, 0.9);
	border-top: 1px solid #444;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
	flex-direction: row;
	z-index: 1100;
}

footer p#tagline
{
	margin: auto;
}

div#like_box 
{
	padding: 10px;
	width: 140px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

div#like_box p.avg_grades,
div#like_box p.nb_grades
{
	margin-top:5px;
	margin-left:5px;
	font-size: 17px;
	float:left;
	color: #bbbbbb;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
	white-space: nowrap;
}

div#like_box p.nb_grades
{
	margin-left:0px;
	float:right;
}

div#like_box div.liker a
{
	filter:invert(70%);
	display: block;
	width: 12px;
	height: 24px;
	background-size: 200%;
	float:left;
	background-repeat:no-repeat;
	background-image: url("../img/glyphicons_black/glyphicons-49-star-empty.png");
	background-position-y: 0px;
}

div#like_box div.liker a.star_liked
{
	background-image: url("../img/glyphicons_black/glyphicons-50-star.png");
}

div#like_box div.liker a.glyph_star_left
{
}

div#like_box div.liker a.glyph_star_right
{
	background-position-x: right;
}

div#like_box div.liker:hover  a
{
	background-image: url("../img/glyphicons_black/glyphicons-49-star-empty.png");
}

div#like_box div.liker:hover > a
{
	background-image: url("../img/glyphicons_black/glyphicons-50-star.png");
}

section.home
{
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
	text-align: center;
	line-height: 30px;
	font-family: din1451;
	font-size: 25px;
	color:white;
}

section.home p
{
	text-align: left;
	font-size: 15px;
	width:300px;
	margin-top: 35px;
	margin-left: 100px;
	display:block;
	font-family: geo;
	line-height: 20px;
	color: #BBB;
}


