<header>
	<nav>
		<a class="header_element" href="<?php echo SITE_ROOT; ?>home">
			<h1 id="title">
				CAMAGRU
			</h1>
		</a>
		<a class="header_element" href="<?php echo SITE_ROOT; ?>gallery">
			<button class="header_button glyph glyph_gallery">
			</button>
		</a>
<?php if (is_loggued()) { ?>
		<a class="header_element" href="<?php echo SITE_ROOT; ?>gallery/user/">
			<button class="header_button glyph glyph_gallery_perso"></button>
		</a>
<?php } ?>
		<a class="header_element" href="<?php echo SITE_ROOT; ?>editor">
			<button class="header_button glyph glyph_editor">
			</button>
		</a>
	</nav>
	<div class="header_element padder">
	</div>
<?php
	if (is_loggued())
		$this->load_view('login/user_loggued');
	else
		$this->load_view('login/to_log');
?>
</header>

